html, body {
  margin: 0;
  padding: 0;
  padding-left: 160px;
  padding-top: 70px;
}
canvas {
  display: block;
}

body{
  background-color: rgb(255, 255, 255);
}
h1{
  color: aqua;
  padding-left: 400px;
  
}
